div {
    display: block;
}
.header{
    padding-top: 79px;
    padding-bottom: 141px;
    box-sizing: border-box;
    height: 700px;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #eeeff1;
}
.navi {
    position: absolute;
    width: 84px;
    height: 18px;
    left: 399px;
    top: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #34547A;
    vertical-align: top;
    display: flex;
}
.navig {
    position: absolute;
    width: 100px;
    height: 18px;
    left: 525px;
    top: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.naviga {
    position: absolute;
    width: 74px;
    height: 18px;
    left: 667px;
    top: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.navigat {
    position: absolute;
    width: 86px;
    height: 18px;
    left: 783px;
    top: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.navigation {
    position: absolute;
    width: 99px;
    height: 18px;
    left: 911px;
    top: 79px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
}
.first {
    position: absolute;
    width: 541px;
    height: 60px;
    left: 399px;
    top: 257px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #000000;
}
.text {
    position: absolute;
    width: 540px;
    height: 78px;
    left: 400px;
    top: 362px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #727272;
}
.button {
    position: absolute;
    width: 225px;
    height: 65px;
    left: 399px;
    top: 494px;
    background-color: #34547A;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    position: absolute;
}
.about {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 1);
    border: 0px;
    background-color: #34547A;
    margin: auto;
}
.about_me {
    position: absolute;
    width: 403px;
    height: 38px;
    left: 758px;
    top: 812px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.text_1 {
    position: absolute;
    width: 540px;
    height: 78px;
    left: 690px;
    top: 892px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #727272;
}
.block {
    height: 321px;
    width: auto;
    background-color: #F9F9F9;
    ;
}
.block_1{
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 250px;
    background-color: #34547a;
}
.lineblock {
    margin-left: auto;
    margin-right: auto;
    width: 1185px;
}
.project {
    display: inline-block;
}
.project40 {
    margin-left: 20px;
    margin-right: 45px;
    display: inline-block;
}
.project401 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
img {
    width: 50px;
    height: 50px;
}
.block2 {
    margin-bottom: 0px;
    height: 1004px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    background: #EEEFF1;
}
.video {
    margin-bottom: 0px;
    height: 1004px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
    background: #eeeff1;
}
.text1 {
    width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h2.ri {
    position: absolute;
    width: 403px;
    height: 38px;
    left: 758px;
    top: 1409px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    display: block;
    align-items: center;
    text-align: center;
    color: #000000;
}
.lorem {
    position: absolute;
    width: 540px;
    height: 78px;
    left: 690px;
    top: 1489px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: block;
    align-items: center;
    text-align: center;
    color: #727272;
}
iframe {
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    top: 1613px;
    display: block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(photo-1514070706115-47c142769603.jpg);
}
footer {
    padding-top: 50px;
    margin-top: 0px;
    height: 151px;
    background: #34547a;
}
.name {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }

footer h3 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: #ffffff;
}
footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
  }